body {
  font-family: sans-serif;

}

#intro-container, #quiz-container, #win-container {
  border: 15px solid #1130BA;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  width: auto;
  max-width:1000px;
}

#choices li {
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
  border: 3px solid #25c31f;
  border-radius: 30px;
  margin:0 auto;
  padding:10px;
  max-width: 100px;
  background-color: rgb(251, 192, 192);
  display:inline-block;
}

#feedback, #secret-message {
  font-weight: bold;
}

#start-button, #next-button,#replay-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#next-button {
  display: none;
}
#replay-button {
  margin: 10px auto; /* This will center the button horizontally */
}

.correct {
  color: green;
}

.wrong {
  color: red;
}
#winpic{
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1000px) {
  #start-button, #next-button,#replay-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;  /* Increase padding for larger buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 50px;  /* Add font-size property to increase text size */
    
  }
  #choices li {
    font-size:50px;
    list-style: none;
    cursor: pointer;
    border: 10px solid #25c31f;
    border-radius: 30px;
    margin:0 auto;
    max-width: none;
    margin:auto;
  }
}
.disabled {
  pointer-events: none; /* Disable pointer events */
  opacity: 0.5; /* Dim the element */
  /* Add any other styles to visually indicate the element is disabled */
}
